.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.infografiaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 10vh auto;
    overflow-y: hidden;
}

.infografia {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.infografia:nth-child(1) {
    background-image: url('/img/INFOGRAFIA_WE_THINK.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.infografia:nth-child(2) {
    background-image: url('/img/INFOGRAFIA_WE_DO.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.infografia:nth-child(3) {
    background-image: url('/img/INFOGRAFIA_WE_DELIVER.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media(min-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .infografia {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 98vh;
        overflow-y: hidden;
    }
}